{% load staticfiles %}
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand navbar-logo" href="/"><img src="{% static 'img/kb_logo_white.svg' %}" alt="Till startsidan"/></a>
          <a class="navbar-brand" href="/ullas/">Ullas kortkatalog</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/ullas/om/">Om katalogen</a></li>
            </ul>
        </div>
      </div>
    </nav>
