{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}
#{{card.catalog_sequence_number}} {{card.name}}
{% endblock %}

{% block head_opengraph %}
<meta property="og:url" content="{{request.build_absolute_uri}}" />
    <meta property="og:title" content="Kort {{card.catalog_sequence_number}}: {{card.name}}" />
    <meta property="og:description" content="{{card.name}} Katalogkort {{card.catalog_sequence_number}}." />
    <meta property="og:image" content="/static/ullas/{{fullres_image_url}}" />
{% endblock %}

{% block navbar %}
{% include "ullas/_navbar.html" %}
{% endblock %}
{% block content %}

    <div class="container card" role="main" resource="" vocab="http://schema.org/" prefix="xhv:http://www.w3.org/1999/xhtml/vocab#" typeof="ItemPage">
      <meta property="isPartOf" href="https://kortkataloger.kb.se/ullas/" />
      {% include "_paginator.html" %}

      <div class="row">
        <div class="col-md-12">
          <h1 class="page-header" property="name">Kort #{{card.catalog_sequence_number}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" property="associatedMedia" typeof="ImageObject">
          <meta property="isFamilyFriendly" content="true" />
          <meta property="representativeOfPage" content="true" />
          <meta property="inLanguage" href="http://lexvo.org/id/iso639-3/swe" />
          <meta property="license" href="http://creativecommons.org/publicdomain/mark/1.0/" />
          <a property="contentUrl" href="/static/ullas/{{fullres_image_url}}"><img property="embedUrl" class="preview" src="/static/ullas/{{image_url}}"  alt="{{card.name}} {{card.ocr_text}}"></a>
          <a property="contentUrl" href="/static/ullas/{{fullres_image_back_url}}"><img property="embedUrl" class="preview" src="/static/ullas/{{image_back_url}}"  alt="Baksida {{card.name}} {{card.ocr_text_back}}"></a>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Information</h3>
                </div>
                <div class="panel-body">
          <dl>

          <dt class="cardno">Kortnr:</dt>
          <dd>{{card.catalog_sequence_number}}</dd>
          <dt class="boxno">Låda:</dt>
          <dd>{{card.box.sequence_number}} {{card.box.label}}</dd>


          {% if card.ocr_text %}
          <dt>OCR-text:</dt>
          <dd class="ocr">{{card.ocr_text|linebreaks}}</dd>
          {% endif %}

          </dl>
                  </div>
            </div>

          {% if card.ocr_text %}
          <div class="panel panel-warning">
            <div class="panel-heading">
              Konstig text ovan?
            </div>
            <div class="panel-body">
              <p>Den automatiska konverteringen kan ha skapat felaktiga tecken.</p>
            </div>
          </div>
          {% endif %}

          <p><a class="btn btn-primary btn-block question" onclick="javascript:_paq.push(['trackGoal', 1]);" href="mailto:Kungl.bib@kb.se?subject=Fråga om kort {{card.catalog_sequence_number|urlencode}} ({{card.name|urlencode}}) i musikkatalogen&amp;body=%0D%0A%0D%0A%0D%0A%0D%0ANamn: {{card.name|urlencode}}%0D%0AKortlänk: {{request.build_absolute_uri|urlencode}}" role="button">Fråga om detta kort</a></p>
        </div>
        <div class="col-md-3" role="complementary">
          <h2>Låda {{card.box.sequence_number}} {{card.box.label}}</h2>
          <ul class="list-unstyled box">
            {% for c in box_cards %}
              <li>
              {% ifequal c.catalog_sequence_number card.catalog_sequence_number %}
              <a href="{% url "cardurl" c.catalog_sequence_number %}" class="selected">#{{c.catalog_sequence_number}}</a>
              {% else %}
              <a href="{% url 'cardurl' c.catalog_sequence_number %}">{{c.catalog_sequence_number}}</a>
              {% endifequal %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      {% include "_paginator.html" %}
    </div>

{% endblock %}
