{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}
Om handskriftsamlingens nominalkatalog
{% endblock %}

{% block navbar %}
{% include "hsnominal/_navbar.html" %}
{% endblock %}
{% block content %}

<div class="container" role="main">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">Om handskriftsamlingens nominalkatalog</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>Handskriftssamlingens nominalkatalog är en alfabetiskt uppställd
      kortkatalog som främst hänvisar till de äldre delarna av Kungliga bibliotekets
      handskriftssamling.</p>

      <p>Katalogkorten är maskinskrivna, med handskriftssignum skrivet antingen i
      övre högra hörnet på korten, eller underst på kortet, efter hänvisningstexten.
      I nominalkatalogen kan man göra sökningar på personer, platser/orter och ämnesord.</p>

      <p>Arbetet med att upprätta en nominalkatalog påbörjades 1905 och kom att
      pågå en bit in på 1930-talet – med tiden via olika
      arbetsmarknadsåtgärder. I KB:s ämbetsberättelser för år 1927 står att:</p>

      <blockquote>Avdelningen har under året kunna disponera en kvinnlig
      arbetskraft vilket gjort att cardkatalogen som avser att utgöra ett
    kombinerat nominal- och realinventarium kunnat kompletteras.</blockquote>

      <p>I början skrev man uppgifterna på blad, men från 1910 fördes uppgifterna
      in på kartotekskort, s.k. cards. Från att detta år ha färdigställt 2 491
      cards uppgick antalet år 1927 till 14&#160;000. Kartoteket var inte
      tillgängligt för andra än för personalen och
      förvarades därför i handskriftsavdelningens magasin.</p>

      <h2>Innehåll</h2>
      <p>Nominalkatalogen är att betrakta som ett tidsdokument och kan innehålla
      termer och begrepp som inte är vanliga – eller ens gångbara – idag. 
      Katalogen har inte fyllts på efter millennieskiftet annat än ytterst
      sporadiskt. Detta sammanfaller med att uppgifter om KB:s personarkiv och
      nyare handskriftsförvärv redovisats i katalogen <a href="http://www.ediffah.org/">EDIFFAH</a> och på så sätt
      gjorts sökbara på webben. KB:s handskrifter är ännu endast i ringa omfattning sökbara i den
      nationella bibliotekskatalogen <a href="http://libris.kb.se/">Libris</a>.</p>

      <p>Eftersom handskriftssamlingens nominalkatalog är att betrakta som ett
      omistligt original – en ovärderlig ingång till KB:s handskriftssamling –
      har en digital kopia länge varit ett önskemål. Man ska emellertid vara
      medveten om att nominalkatalogen inte är den enda ingången till KB:s
      handskriftssamling – den är en katalog bland flera andra. Hittar man inte
      det man är ute efter kan man alltid höra av sig till Enheten för
      handskrifter, kartor och bilder, <a href="mailto:hkb@kb.se">hkb@kb.se</a>.</p>


      <h2>Innehållet är fritt att återanvända</h2>
      <p>Bildfiler och texter i katalogen är fria att återanvända enligt <span lang="en">Creative Commons</span> <a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/">CC0</a>.</p>
    </div>

    <div class="col-md-4">
      <p>Exempel</p>
    </div>
  </div>
</div>
{% endblock %}
